flask==2.3.3
llama-index==0.10.20
llama-index-llms-ollama==0.1.2
llama-index-embeddings-huggingface==0.2.0
python-docx==1.1.0
sentence-transformers==2.6.1
gunicorn==21.2.0
uvicorn==0.20.0
gdown==5.2.0
